body * {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* input poup */

#create {
    position: absolute;
    width: 100%;
    display: none;
}

.input-wraper {
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    display: flex;
    width: 50%;
    margin: 10px auto;
    animation: schowUp 1s;
}

.input-wraper * {
    border-style: none;
    background-color: #fff;
}

#createName {
    width: 10px;
    flex-grow: 1;
    position: relative;
    left: 10px;
    outline-style: none;
    height: 30px;
}

.input-wraper>input:focus-visible {
    border-width: 0;
}

.btn {
    flex-basis: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.btn[type=submit] {
    font-size: 18px;
}

.btn-add {
    font-size: 50px;
    border-radius: 50%;
    padding: 20px;
    line-height: 30px;
}

.create-list {
    width: 50%;
    margin: -4px auto 0 auto;
}

ul {
    list-style: none;
    padding-left: 0;
}

.create-list li {
    padding: 10px;
    border: 1px solid #000;
    border-top: 0;
}

/* todo list */

section {
    border: 1px dashed #000;
    height: 50%;
    margin: 10px;
    padding: 10px;
}

section li {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #000;
}

main {
    padding: 40px 40px 0 40px;
}

@keyframes schowUp {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateX(0%);
    }
}